#signup {
    background: #eee;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-form {
    min-height: 550px;
    background: rgb(255, 255, 255);
    padding: 20px;
}

#signup-form .ant-btn {
    width: 100%;
    margin-top: 15px;
}

#signup-form .ant-alert {
    margin-bottom: 20px;
}